$primary-color: #2f69eb;
$primary-color-deep: #0c1935;
$primary-color-lightter: #5886ef;
$success-color: #30d3a3;
$error-color: #e23a25;
$warn-color: #f7b817;
$warn-color: #f7b817;
$black-color: #0c1935;
$gray-color: #9badac;
$bg-color: #f6f9ff;
$white:#ffffff;